body {
    margin: 0;
    padding: 0;
    width: 1512px;
    height: 982px;
    position: relative;
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(0deg, rgba(52, 97, 226, 0.2), rgba(52, 97, 226, 0.2)), #FFFFFF;
}

.container {
    text-align: center;
}

.logo {
    width: 60px;
    height: 68px;
}