body {
    margin: 0;
    padding: 0;
    width: 1512px;
    height: 982px;
    position: relative;
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(0deg, rgba(52, 97, 226, 0.2), rgba(52, 97, 226, 0.2)), #FFFFFF;
}

.container {
    text-align: center;
}

.logo {
    width: 60px;
    height: 68px;
}

button {
    /* background: #3461E2;
    align-items: flex-start; */

    gap: 10px;
    left: 0px;
    top: 219px;
    width: 273px;
    height: 43px;
    padding: 12px 25px;
    border-radius: 10px;
    background: #3461E2;
    box-sizing: border-box;
    align-items: flex-start;
    border: 1px solid #959595;
}